dist/CMakeFiles/
dist/Testing/
dist/third_party/
dist/CMakeCache.txt
dist/CTestTestfile.cmake
dist/Makefile
dist/cmake_install.cmake
dist/feature_*.json
dist/*.wixpdb
dist/*.exe
dist/*.msi
dist/.msi-stage/
dist/binary/.msi-stage/
dist/binary/*
!dist/binary/.gitkeep
dist/staging/
*.user
*.suo
*.log
__pycache__/
*.py[cod]
