#include <windows.h>
#include "resource.h"

IDD_RESIZE_DIALOG DIALOGEX 0, 0, 220, 105
STYLE DS_MODALFRAME | DS_SETFONT | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Resize"
FONT 9, "Segoe UI"
BEGIN
    LTEXT "Width", -1, 8, 10, 45, 12
    EDITTEXT IDC_RESIZE_WIDTH, 58, 8, 70, 14, ES_NUMBER | WS_BORDER
    LTEXT "Height", -1, 8, 30, 45, 12
    EDITTEXT IDC_RESIZE_HEIGHT, 58, 28, 70, 14, ES_NUMBER | WS_BORDER
    COMBOBOX IDC_RESIZE_MODE, 135, 8, 75, 60, CBS_DROPDOWNLIST | WS_BORDER
    DEFPUSHBUTTON "OK", IDOK, 72, 70, 58, 16
    PUSHBUTTON "Cancel", IDCANCEL, 140, 70, 58, 16
END
