<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="QuickImageView" Language="1041" Version="2.1.0" Manufacturer="maktak-105" UpgradeCode="B3BCB430-7744-4878-A2C8-4B85E3312437">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" Platform="x64" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of QuickImageView is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <Property Id="ARPPRODUCTICON" Value="QuickImageViewIcon" />
    <Icon Id="QuickImageViewIcon" SourceFile="$(var.SourceDir)\QuickImageView-icon.ico" />
    <UIRef Id="WixUI_FeatureTree" />
    <WixVariable Id="WixUILicenseRtf" Value="$(var.SourceDir)\LICENSE.rtf" />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder"><Directory Id="INSTALLFOLDER" Name="QuickImageView">
        <Component Id="ApplicationFiles" Guid="8CF0F218-2F76-4D12-B8E6-879EF1F42365" Win64="yes">
          <File Id="QuickImageViewExe" Source="$(var.SourceDir)\QuickImageView.exe" KeyPath="yes" />
          <File Id="ReadmeEn" Source="$(var.SourceDir)\readme.txt" />
          <File Id="ReadmeJa" Source="$(var.SourceDir)\readme_jp.txt" />
          <File Id="HistoryEn" Source="$(var.SourceDir)\history.txt" />
          <File Id="HistoryJa" Source="$(var.SourceDir)\history_jp.txt" />
          <File Id="License" Source="$(var.SourceDir)\LICENSE.txt" />
          <File Id="LicenseJa" Source="$(var.SourceDir)\LICENSE_jp.txt" />
          <File Id="LibwebpLicense" Source="$(var.SourceDir)\libwebp-COPYING" />
          <File Id="LibwebpPatents" Source="$(var.SourceDir)\libwebp-PATENTS" />
          <File Id="ThirdPartyNoticesEn" Source="$(var.SourceDir)\third_party_licenses.md" />
          <File Id="ThirdPartyNoticesJa" Source="$(var.SourceDir)\third_party_licenses_jp.md" />
        </Component>
        <Component Id="ContextMenu" Guid="4D0ED4A9-6954-426D-B894-46E65DB64560" Win64="yes">
          <RegistryKey Root="HKCU" Key="Software\Classes\SystemFileAssociations\image\shell\QuickImageView" Action="createAndRemoveOnUninstall">
            <RegistryValue Type="string" Value="Open with QuickImageView" KeyPath="yes" />
          </RegistryKey>
          <RegistryKey Root="HKCU" Key="Software\Classes\SystemFileAssociations\image\shell\QuickImageView\command" Action="createAndRemoveOnUninstall"><RegistryValue Type="string" Value="&quot;[INSTALLFOLDER]QuickImageView.exe&quot; &quot;%1&quot;" /></RegistryKey>
        </Component>
        <Component Id="AssocJpg" Guid="D7977B04-83EE-48C1-A84C-893227465B0A" Win64="yes"><RegistryKey Root="HKCR" Key="QuickImageView.jpg" Action="createAndRemoveOnUninstall"><RegistryValue Type="string" Value="QuickImageView JPEG image" KeyPath="yes" /><RegistryKey Key="shell\open\command"><RegistryValue Type="string" Value="&quot;[INSTALLFOLDER]QuickImageView.exe&quot; &quot;%1&quot;" /></RegistryKey></RegistryKey><RegistryValue Root="HKCR" Key=".jpg" Type="string" Value="QuickImageView.jpg" /></Component>
        <Component Id="AssocJpeg" Guid="1D5BF762-7859-4C5A-AE7B-7ED5B9B0D9B1" Win64="yes"><RegistryKey Root="HKCR" Key="QuickImageView.jpeg" Action="createAndRemoveOnUninstall"><RegistryValue Type="string" Value="QuickImageView JPEG image" KeyPath="yes" /><RegistryKey Key="shell\open\command"><RegistryValue Type="string" Value="&quot;[INSTALLFOLDER]QuickImageView.exe&quot; &quot;%1&quot;" /></RegistryKey></RegistryKey><RegistryValue Root="HKCR" Key=".jpeg" Type="string" Value="QuickImageView.jpeg" /></Component>
        <Component Id="AssocPng" Guid="FE836A99-6BD7-428F-95DE-576D89C31B99" Win64="yes"><RegistryKey Root="HKCR" Key="QuickImageView.png" Action="createAndRemoveOnUninstall"><RegistryValue Type="string" Value="QuickImageView PNG image" KeyPath="yes" /><RegistryKey Key="shell\open\command"><RegistryValue Type="string" Value="&quot;[INSTALLFOLDER]QuickImageView.exe&quot; &quot;%1&quot;" /></RegistryKey></RegistryKey><RegistryValue Root="HKCR" Key=".png" Type="string" Value="QuickImageView.png" /></Component>
        <Component Id="AssocTif" Guid="0927A6A1-64B2-4514-8D9F-43F71C3B6072" Win64="yes"><RegistryKey Root="HKCR" Key="QuickImageView.tif" Action="createAndRemoveOnUninstall"><RegistryValue Type="string" Value="QuickImageView TIFF image" KeyPath="yes" /><RegistryKey Key="shell\open\command"><RegistryValue Type="string" Value="&quot;[INSTALLFOLDER]QuickImageView.exe&quot; &quot;%1&quot;" /></RegistryKey></RegistryKey><RegistryValue Root="HKCR" Key=".tif" Type="string" Value="QuickImageView.tif" /></Component>
        <Component Id="AssocTiff" Guid="E6F6D08E-B0EE-4504-9D02-F0A42E6FD8B9" Win64="yes"><RegistryKey Root="HKCR" Key="QuickImageView.tiff" Action="createAndRemoveOnUninstall"><RegistryValue Type="string" Value="QuickImageView TIFF image" KeyPath="yes" /><RegistryKey Key="shell\open\command"><RegistryValue Type="string" Value="&quot;[INSTALLFOLDER]QuickImageView.exe&quot; &quot;%1&quot;" /></RegistryKey></RegistryKey><RegistryValue Root="HKCR" Key=".tiff" Type="string" Value="QuickImageView.tiff" /></Component>
        <Component Id="AssocBmp" Guid="248FBE02-98B4-4208-AF2A-5F01DD3C57D6" Win64="yes"><RegistryKey Root="HKCR" Key="QuickImageView.bmp" Action="createAndRemoveOnUninstall"><RegistryValue Type="string" Value="QuickImageView BMP image" KeyPath="yes" /><RegistryKey Key="shell\open\command"><RegistryValue Type="string" Value="&quot;[INSTALLFOLDER]QuickImageView.exe&quot; &quot;%1&quot;" /></RegistryKey></RegistryKey><RegistryValue Root="HKCR" Key=".bmp" Type="string" Value="QuickImageView.bmp" /></Component>
        <Component Id="AssocGif" Guid="B6D0E89A-7C5E-40F5-A3E4-4A5ACB1D7C21" Win64="yes"><RegistryKey Root="HKCR" Key="QuickImageView.gif" Action="createAndRemoveOnUninstall"><RegistryValue Type="string" Value="QuickImageView GIF image" KeyPath="yes" /><RegistryKey Key="shell\open\command"><RegistryValue Type="string" Value="&quot;[INSTALLFOLDER]QuickImageView.exe&quot; &quot;%1&quot;" /></RegistryKey></RegistryKey><RegistryValue Root="HKCR" Key=".gif" Type="string" Value="QuickImageView.gif" /></Component>
        <Component Id="AssocWebp" Guid="FAD7D021-BD3A-4268-8153-FED21E8ACF0D" Win64="yes"><RegistryKey Root="HKCR" Key="QuickImageView.webp" Action="createAndRemoveOnUninstall"><RegistryValue Type="string" Value="QuickImageView WebP image" KeyPath="yes" /><RegistryKey Key="shell\open\command"><RegistryValue Type="string" Value="&quot;[INSTALLFOLDER]QuickImageView.exe&quot; &quot;%1&quot;" /></RegistryKey></RegistryKey><RegistryValue Root="HKCR" Key=".webp" Type="string" Value="QuickImageView.webp" /></Component>
        <Component Id="AssocHeic" Guid="8D0EF877-3D03-4BD5-9E69-7E5EE5DCFC75" Win64="yes"><RegistryKey Root="HKCR" Key="QuickImageView.heic" Action="createAndRemoveOnUninstall"><RegistryValue Type="string" Value="QuickImageView HEIC image" KeyPath="yes" /><RegistryKey Key="shell\open\command"><RegistryValue Type="string" Value="&quot;[INSTALLFOLDER]QuickImageView.exe&quot; &quot;%1&quot;" /></RegistryKey></RegistryKey><RegistryValue Root="HKCR" Key=".heic" Type="string" Value="QuickImageView.heic" /></Component>
        <Component Id="AssocHeif" Guid="1A4B8C9D-3E6F-42A1-B7C5-6D8E9F0A1B2C" Win64="yes"><RegistryKey Root="HKCR" Key="QuickImageView.heif" Action="createAndRemoveOnUninstall"><RegistryValue Type="string" Value="QuickImageView HEIF image" KeyPath="yes" /><RegistryKey Key="shell\open\command"><RegistryValue Type="string" Value="&quot;[INSTALLFOLDER]QuickImageView.exe&quot; &quot;%1&quot;" /></RegistryKey></RegistryKey><RegistryValue Root="HKCR" Key=".heif" Type="string" Value="QuickImageView.heif" /></Component>
      </Directory></Directory>
    </Directory>
    <Feature Id="Main" Title="QuickImageView" Level="1" Display="expand"><ComponentRef Id="ApplicationFiles" /></Feature>
    <Feature Id="ContextMenuFeature" Title="Explorer context menu" Description="Add Open with QuickImageView to image right-click menus." Level="2"><ComponentRef Id="ContextMenu" /></Feature>
    <Feature Id="JpgFeature" Title="Associate JPEG (.jpg)" Level="2"><ComponentRef Id="AssocJpg" /></Feature>
    <Feature Id="JpegFeature" Title="Associate JPEG (.jpeg)" Level="2"><ComponentRef Id="AssocJpeg" /></Feature>
    <Feature Id="PngFeature" Title="Associate PNG (.png)" Level="2"><ComponentRef Id="AssocPng" /></Feature>
    <Feature Id="TifFeature" Title="Associate TIFF (.tif)" Level="2"><ComponentRef Id="AssocTif" /></Feature>
    <Feature Id="TiffFeature" Title="Associate TIFF (.tiff)" Level="2"><ComponentRef Id="AssocTiff" /></Feature>
    <Feature Id="BmpFeature" Title="Associate BMP (.bmp)" Level="2"><ComponentRef Id="AssocBmp" /></Feature>
    <Feature Id="GifFeature" Title="Associate GIF (.gif)" Level="2"><ComponentRef Id="AssocGif" /></Feature>
    <Feature Id="WebpFeature" Title="Associate WebP (.webp)" Level="2"><ComponentRef Id="AssocWebp" /></Feature>
    <Feature Id="HeicFeature" Title="Associate HEIC (.heic)" Level="2"><ComponentRef Id="AssocHeic" /></Feature>
    <Feature Id="HeifFeature" Title="Associate HEIF (.heif)" Level="2"><ComponentRef Id="AssocHeif" /></Feature>
  </Product>
</Wix>
